label{
    font-size: 30px;
}
.contactPage{
    min-height: 500px;
}
textarea{
    resize: none;
    border: none;
}
textarea:focus{
    outline: none;
}
@media (max-width:768px) {
    .contactPage{
        min-height: 750px;
    }
}