.title{
    font-family: 'Space Grotesk', sans-serif;
    text-shadow: 1px 0 10px  crimson;
}

.carouselBox{
    height: 700px;
}
.toMovie{
    bottom: 10px;
    right: 10px;
    background-color: crimson;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.toMovie:hover{
    background-color: rgb(51, 51, 51);
    color: white;
}
.SlideMovieInfo{
    bottom: 0;
    left: 0;
    height: 0;
    overflow: hidden;
    background-color: rgb(0 0 0 / 20%);
    transition: 0.3s;
}
.SlideMovieBox:hover .SlideMovieInfo{
    height: 100%;
}

.SlideMovieLink{
    background-color: crimson;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.SlideMovieLink:hover{
    background-color: rgb(51, 51, 51);
}
.showMore{
    background-color: crimson;
    border: none;
    color: white;
}
.imgBox{
    height: 400px;
}
.showMoreBox{
    height: 400px;
    background-color: rgb(128 128 128 / 10%);
}
.showMoreBox button {
    background-color: crimson;
    transition: 0.3s;
}
.showMoreBox button:hover {
    background-color: black;
}

@media (max-width:768px){
.carouselBox {
        height: 500px ;
    }
    .imgBox {
    height: 300px;
    }
    
}