.UpcomingMovieBox{
    height: 500px;
}
.upComingMoviesShowMore{
    height: 350px;
    background-color: rgb(128 128 128 / 10%);
}
.upComingMoviesShowMore button{
    background-color: crimson;
    transition: 0.3s;
}
.upComingMoviesShowMore button:hover{
    background-color: black;
}

.upcomingSlideMovieLink{
    background-color: crimson;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.upcomingSlideMovieLink:hover {
    background-color: black;
}

@media (max-width:768px){
    .FabTopRated{
        width: 40px !important;
        height: 40px !important;
    }
    .release{
        font-size: 14px;
    }
    .upcomingSlideMovieLink{
        font-size: 15px;
    }
}